*{
   margin: 0px;
   padding: 0px;
}
body {
   margin: 6%;
   margin-top: 0%;
   background-color: rgba(255, 255, 255, 0.501);
   color: rgb(0, 0, 0);
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 1em;
}